body {
  font-family: "Arial", sans-serif;
  background-color: rgba(255, 255, 255, 0.258);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid brown;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: burlywood;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5345a0;
}

.address-section {
  margin-bottom: 20px;
}

.confirmation-section {
  margin-bottom: 20px;
}
